html{
    font-family: Roboto, "Courier New", monospace;
}

body{
    margin:0;
    padding:0;
}

.main{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    color: #E5E7EB;
    display:flex;
    flex-direction: column;
    padding: 10px 400px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a{
    text-decoration: none;
}

.header-bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 200px 0;
}

.header-bottom-left{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 10px;
}

.header-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.header-secondary-text{
    font-size: 18px;
}

.header-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    padding: 10px 25px;
    align-self: flex-start;
    font-weight: 900;
}

.header-bottom-right{
    background-color: gray;
    color: #F9FAF8;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 500px;
    gap: 50px;
    
}

.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.info-content{
    display: flex;
    justify-content: space-between;
}

.info-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img{
    max-width: auto;
    max-height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 12px;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 100px 500px;
    gap: 50px;
}

.author{
    font-weight: bold;
    align-self: flex-end;
    font-size:24px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 200px 400px;
}

.call-content{
    background-color: #3882F6;
    display: flex;
    padding: 100px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex:1;
    gap: 100px;
}

.call-content-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-header{
    font-size: 24px;
}

.call-text{
    font-size: 18px;
}

.call-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 12px;
    font-size: 15px;
    padding: 10px 25px;
    flex-shrink: 0;
    font-weight: 900;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 400px;
}